@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero{
  background-image: url("/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.bw-only{
  background-image: url("/bw-only.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}